/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *::before, *::after{
    box-sizing: border-box;
}
.wrap{
    margin: 0 auto;
}
a{
    text-decoration: none;
}
/* header */
.header{
    background-color: #000;
    
}
.header ul{
    display: flex;
    justify-content: space-around;
}
.header a{
    color: #FFFF;
}
.homepage{ 
    height: 848px;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/people.png?raw=true");
    background-repeat: no-repeat;
    background-position: top 5% left 10%;
}
.title{
    position: absolute;
    top: 20%; 
    right: 5%;
    width: 636px;
}
.title .text{
    color: #FFFF;
    font-size: 64px;
    line-height: 96px;
}
.title .name{
    color: #00FFA3;
    font-size: 128px;
    line-height: 192px;
    text-align: right;
}
.title .btn{
    border: none;
    border-radius: 25px;
    position: absolute;
    right: 0px
}
/* intro */
.intro{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true");
    height: 920px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-left{
    width: 526px; 
    height: 442px;
}
.sparkle-sm{
    width: 128px;
    height: 98px;
    display: flex;
    justify-content: space-between;
}
.section-right{
    width: 746px;
    height: 600px;
    display: flex;
    justify-content: space-between;
}
.intro-title{
    color: #FFFFFF;
    font-size: 64px;
    line-height: 96px;
}
.section-left p{
    color: #FFFFFF;
    font-size: 24px;
    line-height: 36px;
}
/* about me */
.about_me{
    display: flex;
    justify-content: space-around;
}
.card_list{
    width: 636px;
    height: 328px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.card_list li{
    width: 306px;
    height: 148px;
    border: 1px solid #E3E3E3;
}
.num{
    font-size: 20px;
    line-height: 30px;
}
.title-name{
    font-size: 20px;
    line-height: 30px;
}
.card p{
    font-size: 16px;
    line-height: 24px;
}
.aboutme_text{
    width: 526px;
    height: 420px;
}
.aboutme-title{
    font-size: 64px;
    line-height: 96px;
}
.aboutme_text p{
    font-size: 24px;
    line-height: 36px;
}